---
layout: default
---
<!--<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>-->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" img src="{{ page.image | prepend: site.baseurl  }}">
                <center><p>{{ page.caption }}</p></center>
            </div>

            <div class="col-md-4">
                <h3>{{ page.title }}</h3>
                <p>{{ content }}</p>
            </div>

        </div>
        <!-- /.row -->
